.main-row {
  height: 100vh;
}
.main-col {
  max-width: 500px;
  min-height: 300px;
}
.todo-done {
  text-decoration: line-through;
}
.pentosquare {
  background: #ffa17f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #00223e,
    #ffa17f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #00223e,
    #ffa17f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-style: none;
  border-radius: 30px;
}
